@charset "UTF-8";

.container{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 5px;
    
}
.container::after{
    clear: both; content: ''; display: block;
}
.container div{
    margin: 5px;
    width: calc(50% - 10px);
    height: calc(33.33% - 10px);
    border: 1px solid red;
    box-sizing: border-box;
    float: left;
    text-align: center;
}